body {
    text-align: center; color: black;
    font: 85% verdana;
    background-color: darkorange;}
    h1 {strong background-color:yellow ;
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap'";
    p font-family: 'Coiny', cursive;font-size: 3em;
  }

    header{ text-align: justify;

    }

    footer {     text-decoration: none; color: aqua; background-color: blueviolet;

    }
    <div style= "color:darkgreen" </div>